<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Die Meile Virtuell!</title>{% endblock %}
    {% load static %}
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'all.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
    {% block scripts %}{% endblock %}
    <!--<link rel="stylesheet" href="{% static 'bootstrap.css' %}">-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/meile">Die virtuelle Meile 2.0 (endlich in schön!)</a>
    <!-- Navbar Search-->
    <form action="#" id="chatform" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" id="noteText" type="text" placeholder="Deine Nachricht an alle" aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="sendNote()"><i class="fas fa-envelope"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/logout?next=/meile/">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Meile</div>
                    <a class="nav-link" href="/meile">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Partyübersicht
                    </a>
                    <div class="sb-sidenav-menu-heading">Zeitvertreib</div>
                    <a class="nav-link" href="/meile/34">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Schätzen
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ user.get_username }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Lothar INC</div>
                    {% if user.get_username == 'Achim' %}
                        <div><button class="btn btn-block btn-primary" onclick="start_saufalarm();">Sauf-Alarm!</button></div>
                        <div><button class="btn btn-block btn-primary" onclick="start_saufrandomalarm();">Sauf Random Alarm!</button></div>
                        <div><input type="text" class="form-control" id="inputSekunden" placeholder="Sekunden" value="30"><button class="btn btn-block btn-primary" onclick="start_saufcountdown();">Saufcountdown!</button></div>
                        <div><input type="checkbox" class="form-control" id="updateAll" onclick="updateAlle()">Update Alle</div>
                        <div><button class="btn btn-block btn-primary" onclick="start_bus();">Starte Busfahrt!</button></div>
                    {% endif %}
                </div>
            </div>
    </div>
    </footer>
</div>
</div>
</body>
</html>